body, html { background-color: #eee;
    text-align:center;
    }

h1{
    color:#ae2f32; font: bold "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
h2 {
    color: #2b2b2b;
    font: bold "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
}

a {
    color:#ae2f32;
    text-decoration: none;
}

table{
    margin: 0px auto;
    width: 19cm;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #B4AA9D;
}

td {
    text-align: left;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #6D929B;
}


td.alt {
    background: #F5FAFA;
    color: #B4AA9D;
}

.response{
    width: 100px;
}
