body, html { background-color: #eee;}
h1{font-size: 20px;color:#ae2f32; font:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-weight: bold}

li {font-size: 14px; color: #6D929B; font: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;}
.heading{font-weight: bold; font-size:16px; }
